In [1]:
l1=["neera"]
print(type(l1))

<class 'list'>

In [10]:
print("neeraj prajapati")

neeraj prajapati

In [11]:
li=["neeraj","pankaj","manish"]
print(li)

['neeraj', 'pankaj', 'manish']

In [12]:
li=["neeraj","pankaj","manish"]
print(len(li))

3

In [13]:
li=["neeraj","pankaj","manish"]
print(type(li))

<class 'list'>

In [14]:
li=["neeraj","pankaj","manish"]
print(li[1])

pankaj

In [15]:
li=["neeraj","pankaj","manish"]
print(li[-1])

manish

In [17]:
li=["neeraj","pankaj","manish"]
print(li[0:1])

['neeraj']

In [18]:
li=["neeraj","pankaj","manish"]
print(li[0:2])

['neeraj', 'pankaj']

In [19]:
li=["neeraj","pankaj","manish"]
li1=[1,2,3,4]
print(li+li1)

['neeraj', 'pankaj', 'manish', 1, 2, 3, 4]

In [20]:
li=["neeraj","pankaj","manish"]
li1=[1,2,3,4]
print(len(li+li1))

7

In [22]:
li=("neeraj","pankaj","manish")
li1=[1,2,3,4]
print(type(li+li1))

TypeError: can only concatenate tuple (not "list") to tuple

In [23]:
li=["neeraj","pankaj","manish"]
li1=[1,2,3,4]
print(list(li))

['neeraj', 'pankaj', 'manish']

In [24]:
print(li)

['neeraj', 'pankaj', 'manish']

In [25]:
print(li[1])

pankaj

In [26]:
print(li+li1[1:3])

['neeraj', 'pankaj', 'manish', 2, 3]

In [29]:
print(li+li1)

['neeraj', 'pankaj', 'manish', 1, 2, 3, 4]

In [31]:
print(li[:2])

['neeraj', 'pankaj']

In [32]:
print(li[2:])

['manish']

In [33]:
li=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(li[-3:-5])

[]

In [34]:
print(li[-4])

orange

In [35]:
print(li[-2:-4])

[]

In [36]:
print(li[-4:-2])

['orange', 'kiwi']

In [37]:
if "apple" in li:
    print("yes")

yes

In [38]:
if "k" in li:
    print("yes")
else:
    print("no")

no

In [42]:
if "banana" in li:
    print("yes")
else:
    print("no")

yes

In [43]:
li[2]="neeraj"
print(li)

['apple', 'banana', 'neeraj', 'orange', 'kiwi', 'melon', 'mango']

In [44]:
li[2:4]=["pankaj","neeraj"]
print(li)

['apple', 'banana', 'pankaj', 'neeraj', 'kiwi', 'melon', 'mango']

In [45]:
li[:2]="manish"
print(li)

['m', 'a', 'n', 'i', 's', 'h', 'pankaj', 'neeraj', 'kiwi', 'melon', 'mango']

In [46]:
li[:2]=["manish"]
print(li)

['manish', 'n', 'i', 's', 'h', 'pankaj', 'neeraj', 'kiwi', 'melon', 'mango']

In [47]:
li=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(li)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [48]:
li[2:4]=["neeraj"]
print(li)

['apple', 'banana', 'neeraj', 'kiwi', 'melon', 'mango']

In [50]:
li.insert(2,"manish")
print(li)

['apple', 'banana', 'manish', 'neeraj', 'kiwi', 'melon', 'mango']

In [52]:
li.append("reeta")
print(li)

['apple', 'banana', 'manish', 'neeraj', 'kiwi', 'melon', 'mango', 'reeta']

In [54]:
li=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
li1=[1,2,3,4,5,6]
li.extend(li1)
print(li)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 1, 2, 3, 4, 5, 6]

In [55]:
li.extend(li1)
print(len(li))

19

In [56]:
print(li)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [57]:
li.remove("banana")
print(li)

['apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [60]:
li.pop(3)
print(li)

['apple', 'cherry', 'orange', 'melon', 'mango', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [61]:
print(li)

['apple', 'cherry', 'orange', 'melon', 'mango', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [62]:
li.pop()
print(li)

['apple', 'cherry', 'orange', 'melon', 'mango', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [63]:
print(li)

['apple', 'cherry', 'orange', 'melon', 'mango', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [64]:
del li[3]
print(li)

['apple', 'cherry', 'orange', 'mango', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [65]:
li.clear()
print(li)

[]

In [66]:
print(li)

[]

In [2]:
li=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(li)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [3]:
for i in li:
    print(i)

apple
banana
cherry
orange
kiwi
melon
mango

In [4]:
for i in range(len(li)):
    print(i)

0
1
2
3
4
5
6

In [6]:
i=0
while i<len(li):
    print(i)
    i=i+1

0
1
2
3
4
5
6

In [7]:
i=1
while i < len(li):
    i=i+1
    print(i)

2
3
4
5
6
7

In [8]:
i=1
while i<len(li):
    print(i)
    i=i+1

1
2
3
4
5
6

In [9]:
print(li)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [10]:
i=3
while i<len(li):
    print(i)
    i=i+1

3
4
5
6

In [11]:
[print(i) for i in li]

apple
banana
cherry
orange
kiwi
melon
mango

[None, None, None, None, None, None, None]

In [12]:
for i in li print(i)

SyntaxError: invalid syntax (<ipython-input-12-41eb1a581255>, line 1)

In [13]:
[for i in li print(i)]

SyntaxError: invalid syntax (<ipython-input-13-963ab835be70>, line 1)

In [14]:
[print(i) for i in li]

apple
banana
cherry
orange
kiwi
melon
mango

[None, None, None, None, None, None, None]

In [15]:
new=[]
for i in li:
    if "a" in i:
        new.append(i)
print(new)

['apple', 'banana', 'orange', 'mango']

In [17]:
new=[]
for i in li:
    if "apple" in i:
        new.append(i)
print(new)

['apple']

In [18]:
if "apple" in li:
    print("yes")
else:
    print("no")

yes

In [20]:
new=[]
for i in li:
    print(i)
if "apple" in li:
    print("yes")
else:
    print("no")
print(new)

apple
banana
cherry
orange
kiwi
melon
mango
yes
[]

In [21]:
print(li)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [22]:
new=[x for x in range(li)]
print(new)

TypeError: 'list' object cannot be interpreted as an integer

In [23]:
li=[x for x in range(3)]
print(li)

[0, 1, 2]

In [27]:
new=[i.upper() for i in li]
print(new)

AttributeError: 'int' object has no attribute 'upper'

In [28]:
li=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(li)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [29]:
new=[i.upper() for i in li]
print(new)

['APPLE', 'BANANA', 'CHERRY', 'ORANGE', 'KIWI', 'MELON', 'MANGO']

In [30]:
new=[i.lower() for i in li]
print(new)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [31]:
new=["apple" for i in li]
print(new)

['apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple']

In [32]:
li=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(li)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [33]:
li.sort()
print(li)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']

In [34]:
li1.sort()
print(li1)

NameError: name 'li1' is not defined

In [35]:
li1=[3,4,2,1,5,6,7,8]
print(li1)

[3, 4, 2, 1, 5, 6, 7, 8]

In [36]:
li1.sort()
print(li1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
print(li1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
li.sort(reverse=True)
print(li)

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [39]:
li.sort(reverse=False)
print(li)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']

In [40]:
li1.sort(reverse=False)
print(li1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
def myf(n):
    return (n-4)
li1=[3,4,2,1,5,6,7,8]
li1.sort(key=myf)
print(li1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
print("hello world!!")

hello world!!

In [9]:
import json
x={
    "name":"neeraj prajapati",
    "age":24,
    "roll":2000
}
y=json.dumps(x)
print(y)

{"name": "neeraj prajapati", "age": 24, "roll": 2000}

In [10]:
import json
x='{"name":"neeraj","age":20}'
y=json.loads(x)
print(y)

{'name': 'neeraj', 'age': 20}

In [11]:
import json
print(y["name"])

neeraj

In [12]:
print(json.dumps(2333))

2333

In [13]:
print(json.dumps(2.2))

2.2

In [14]:
print(json.dumps({"name":"neeraj","age":20}))

{"name": "neeraj", "age": 20}

In [15]:
print(json.dumps(True))

true

In [17]:
import json
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}
print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [18]:
print(json.dumps(None))

null

In [22]:
print(json.dumps(x,indent=10))

{
          "name": "John",
          "age": 30,
          "married": true,
          "divorced": false,
          "children": [
                    "Ann",
                    "Billy"
          ],
          "pets": null,
          "cars": [
                    {
                              "model": "BMW 230",
                              "mpg": 27.5
                    },
                    {
                              "model": "Ford Edge",
                              "mpg": 24.1
                    }
          ]
}

In [23]:
print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [27]:
y=json.dumps(x,indent=5,separators=("  "," = "))
print(y)

{
     "name" = "John"
     "age" = 30
     "married" = true
     "divorced" = false
     "children" = [
          "Ann"
          "Billy"
     ]
     "pets" = null
     "cars" = [
          {
               "model" = "BMW 230"
               "mpg" = 27.5
          }
          {
               "model" = "Ford Edge"
               "mpg" = 24.1
          }
     ]
}

In [29]:
y=json.dumps(x,indent=5, sort_keys=True)
print(y)

{
     "age": 30,
     "cars": [
          {
               "model": "BMW 230",
               "mpg": 27.5
          },
          {
               "model": "Ford Edge",
               "mpg": 24.1
          }
     ],
     "children": [
          "Ann",
          "Billy"
     ],
     "divorced": false,
     "married": true,
     "name": "John",
     "pets": null
}